//color
$off-black:#20222b;
$off-white:#a5afd7;
$color-dark-blue:#333745;
$color-light-blue:#3c4251;
$color-light-blue2:#464b5e;
$color-purple:#8357c5;

//spacing
$d-size:1rem;
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;